/****** css variables ******/

:root {
  --dominant-text-color: #757575;
  --headings-text-color: #212121;
  --background-color: #ffffff;
  --dark-section-background-color: #2f303a;
  --light-section-and-button-background-color: #f5f4fa;
  --interactive-object-active-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --main-section-box-shadow-color: rgba(0, 0, 0, 25%);
  --full-black-color: #000000;
  --portfolio-li-border-color: #e5e5e5;
  --icon-regular-color: #afb1b8;
}

/****** global settings ******/

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--background-color);
  color: var(--dominant-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid var(--portfolio-li-border-color);
}

nav {
  margin-left: 93px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/****** header settings ******/

.header {
  display: flex;
  align-items: center;
}

.header-footer-link-home {
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--full-black-color);
}

.header-footer-link-home-blue-part {
  color: var(--interactive-object-active-color);
}

.header-nav-ul {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 46px;
}

.header-nav-ul-li {
  color: var(--headings-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.header-nav-ul-li:hover,
.header-nav-ul-li:focus {
  color: var(--interactive-object-active-color);
}

.header-contact-ul {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  gap: 50px;
}

.header-contact-ul-li-a {
  color: var(--dominant-text-color);
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contact-ul-li-a:hover,
.header-contact-ul-li-a:focus {
  color: var(--interactive-object-active-color);
}

.header-contact-ul-li-a-svg {
  margin-right: 10px;
  fill: currentColor;
}

/****** main section settings ******/

.section-main-heading {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('\\.\\images\\main-bck.jpg');
  background-color: var(--dark-section-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
}

.section-main-heading-title-text {
  color: var(--background-color);
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section-main-heading-order-now-button {
  background-color: var(--interactive-object-active-color);
  color: var(--background-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  border-radius: 4px;
}

/****** our strengths settings ******/

.our-strengths-ul {
  display: flex;
  gap: 30px;
}

.our-strengths-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: var(--light-section-and-button-background-color);
}

.our-strengths-header {
  color: var(--headings-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-strengths-paragraph {
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/****** what do we do settings ******/

.section-what-do-we-do {
  padding-top: 0px;
}

.what-do-we-do-heading {
  color: var(--headings-text-color);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.what-do-we-do-ul {
  display: flex;
  gap: 30px;
}

/****** our team settings ******/

.section-our-team {
  background-color: var(--light-section-and-button-background-color);
}

.our-team-heading {
  color: var(--headings-text-color);
  background-color: var(--light-section-and-button-background-color);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.our-team-ul {
  display: flex;
  gap: 30px;
}

.our-team-ul-li {
  background-color: var(--background-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 12%), 0 1px 1px 0 rgba(0, 0, 0, 14%),
    0 2px 1px 0 rgba(0, 0, 0, 20%);
}

.our-team-div {
  padding: 30px 0;
}

.our-team-member {
  color: var(--headings-text-color);
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.our-team-position {
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.our-team-div-community-links {
  width: 206px;
  margin-left: 70px;
  margin-top: 12px;
  padding: 0;
}

.our-team-div-community-links-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.our-team-div-community-links-li {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.our-team-div-community-links-li:hover,
.our-team-div-community-links-li:focus {
  background-color: var(--interactive-object-active-color);
  color: white;
}

.our-team-div-community-links-a {
  color: var(--icon-regular-color);
}

.our-team-div-community-links-a:hover,
.our-team-div-community-links-a:focus {
  background-color: var(--interactive-object-active-color);
  color: white;
}

.our-team-div-community-links-a-svg {
  fill: currentColor;
}

/****** our customers settings ******/

.our-customers-heading {
  color: var(--headings-text-color);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.our-customers-ul {
  display: flex;
  gap: 30px;
}

.our-customers-ul-li {
  background-color: var(--background-color);
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-regular-color);
}

.our-customers-ul-li:hover,
.our-customers-ul-li:focus {
  border: 1px solid var(--interactive-object-active-color);
}

.our-customers-ul-li-a {
  color: var(--icon-regular-color);
}

.our-customers-ul-li-a:hover,
.our-customers-ul-li-a:focus {
  color: var(--interactive-object-active-color);
}

.our-customers-ul-li-a-svg {
  fill: currentColor;
}

/****** footer settings ******/

.footer {
  background-color: var(--dark-section-background-color);
  padding: 60px 0;
}

.footer-div {
  display: flex;
  justify-content: flex-start;
}

.footer-div-link-address {
  width: 246px;
}

.footer-link-home-white-part {
  color: var(--background-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-contact-ul .footer-contact-ul-li-address {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.9;
  text-decoration: none;
  font-style: normal;
}

.footer-contact-ul .footer-contact-ul-li-address:hover,
.footer-contact-ul .footer-contact-ul-li-address:focus {
  color: var(--interactive-object-active-color);
}

.footer-contact-ul .footer-contact-ul-li-link {
  color: var(--footer-link-color);
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

.footer-contact-ul .footer-contact-ul-li-link:hover,
.footer-contact-ul .footer-contact-ul-li-link:focus {
  color: var(--interactive-object-active-color);
}

.footer-div-community-links {
  width: 206px;
  margin-left: 70px;
  margin-top: 12px;
  padding: 0;
}

.footer-div-community-links-paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-bottom: 20px;
}

.footer-div-community-links-ul {
  display: flex;
  gap: 10px;
}

.footer-div-community-links-li {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 22px;
}

.footer-div-community-links-li:hover,
.footer-div-community-links-li:focus {
  background-color: var(--interactive-object-active-color);
}

.footer-div-community-div-a {
  color: var(--icon-regular-color);
}

.footer-div-community-div-a:hover,
.footer-div-community-div-a:focus {
  background-color: var(--interactive-object-active-color);
  color: white;
}

.footer-div-community-links-a-svg {
  fill: currentColor;
}

/****** portfolio buttons settings ******/

.portfolio-filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-filter-button {
  background-color: var(--light-section-and-button-background-color);
  color: var(--headings-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 5px 20px;
  border-radius: 6px;
}

.portfolio-filter-buttons .portfolio-filter-button:hover,
.portfolio-filter-buttons .portfolio-filter-button:focus {
  background-color: var(--interactive-object-active-color);
  color: var(--background-color);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 10%), 0 1px 2px 0 rgba(0, 0, 0, 8%),
    0 2px 2px 0 rgba(0, 0, 0, 12%);
}

/****** portfolio images, headings and paragraphs settings ******/

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-ul-li:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 12%), 0 4px 4px 0 rgba(0, 0, 0, 6%),
    1px 4px 6px 0 rgba(0, 0, 0, 16%);
}

.portfolio-div {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-li-border-color);
  border-right: 1px solid var(--portfolio-li-border-color);
  border-bottom: 1px solid var(--portfolio-li-border-color);
}

.portfolio-header {
  color: var(--headings-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  color: var(--dominant-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
